html,
body{
    height: 100%;
    margin: 0px;
    background: #A7C1FF;
    position: relative;
}

.page{
    height: 100vh;
}

.alice{
    text-shadow: 0px 0px 5px #000000;
    color: #FDFEFD;
}
.alice a{
    color: #FDFEFD;
}
.alice h1 {
    font-family: CandL;
    font-size: 40px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.alice h2 {
    font-family: CandL;
    font-size: 20px;
}

.alice p {
    font-family: CandL;
    font-size: 15px;
}

#wrapper {
    background: #A7C1FF;
    background: linear-gradient( #A7C1FF, #4D76D6);
    position: relative;
    height: fit-content;
    padding: 0;
    width: 100vw;
}

@keyframes beat {
    0% {
        color: #FDFEFD;
    }
    100% {
        color: #AF412A;
    }
}

.about {
    overflow: auto;
    padding-top: 10vh;
    height: 100%;

    /*background: url("../assets/green.jpg");*/
    /*TODO: This should be made so that it is based on height on small screens and stay on width on large screens*/
    background-size: 100%;
    background-attachment: fixed;
}

.icon {
    height: 100px;
    border-radius: 10%;
    display: block;
    box-shadow: 0px 0px 2px #000000;
    background-color: #FDFEFD;
    padding: 10px;
}

.script {
    font-family: script;
    margin: 0px;
    padding-top: 5%;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 10px #4D76D6;
}