element{
    --alice-white: #FDFEFD;
}

element{
    --alice-light-blue:#A7C1FF;
}

element{
    --alice-dark-blue: #4D76D6;
}

element{
    --alice-pink: #FCCFC5;
}

element{
    --alice-red: #AF412A;
}