.cv h1 {
    margin-left: auto;
    margin-right: auto;
}

.cvlittle {
    font-family: CandL;
    text-align: right;
}

.cvlink {
    animation-name: download;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes download {
    0% {
        color: #FDFEFD;
    }
    100% {
        color: #bcc3f6;
    }
}

.box {
    background: #FDFEFD;
    padding: 10px;
    height: 100%;
    margin: 5px;
    box-shadow: 0px 0px 10px #4D76D6;
    border: 1px solid #000000;
}

.box h1 {
    font-family: CandL;
    font-size: 30px;
    color: #AF412A;
    padding: 0px;
    margin: 0px;
}

.box h2 {
    font-family: CandL;
    font-size: 20px;
    color: #AF412A;
    padding: 0px;
    margin: 0px;
}
.box h3 {
    font-family: CandL;
    font-size: 15px;
    color: #AF412A;
    padding: 0px;
    margin: 0px;
}

.box p{
    font-family: CandL;
    font-size: 15px;
    color: #000000;
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.box ol, .box ul {
    font-family: CandL;
    font-size: 15px;
    color: #000000;
}

.category{
    padding-bottom: 20px;
}

@media (max-width: 480px) {
    .box {
        margin: 0px;
        margin-bottom: 10px;
    }
}

@media print{
    .cvlittle{
        display: none;
    }
}

@media (min-width: 1800px) {
    .box h1 {
        font-size: 80px;
    }
    .box h2 {
        font-size: 50px;
    }
    .box h3 {
        font-size: 30px;
    }
    .box p, .box ol {
        font-size: 30px;
    }
}