.cv h1{
    margin-left: auto;
    margin-right: auto;
}
.cvlittle{
    font-family: CandL;
    text-align: right;
    /*display: block;*/
}
.cvlink{
    animation-name: download;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes download{
    0% {color: #F2F6BC;}
    100% { color: #bcc3f6;}
}
.box{
    background: #F2F6BC; 
    padding: 10px;
    height: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px #4378A7;
    border: 1px solid black;
}

.box h1{
    font-family: CandL;
    font-size: 30px;
    color:#A71B14;
    padding: 0px;
    margin: 0px;
}

.box p{
    font-family: CandL;
    font-size: 15px;
    color:black;
    padding: 0px;
    margin: 0px;
}