.portfolio{
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 25vh;
}

.viewer{
    padding: 10px;
}

#frame{
    width: fit-content;
}

.art{
    max-height: 60vh;
    max-width: 100%;
    display: block;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    box-shadow: 0px 0px 5px #4D76D6;
    border: 1px solid black;
}

.thumb{
    display: inline-block;
    height: 60px;
    margin-top: 0px;
    transition: opacity 0.5s linear;
    opacity: 0.5;
    border: 1px solid black;
}

.thumb:hover{
    opacity: 1.0;
    border: 1px solid black;
}