.portfolio {
    padding-top: 10vh;
    padding-bottom: 25vh;
    background: url("../assets/flower_treeSMALL.png");
    /*TODO: This should be made so that it is based on height on small screens and stay on width on large screens*/
    background-size: 100vw 100vh;
    background-attachment: fixed;

    height: 100%;
}



.viewer {
    padding: 10px;
    text-align: center;
}

#frame {
    background: #000000;
    ;
    box-shadow: 0px 0px #2F3F61;
    border: 1px solid #FDFEFD;
}

.art {
    max-height: 60vh;
    max-width: 100%;
    border: 1px solid #FDFEFD;
}

.thumb {
    height: 60px;
    
    transition: opacity 0.5s linear, filter 0.5s linear;
    opacity: 0.5;

    -webkit-filter: blur(1px);
    -ms-filter:     blur(1px);
    filter:         blur(1px);
}
.white{
    display: inline-block;
    background: white;
    height: 60px;
    width: fit-content;

    margin-top: 0px;
    border: 1px solid #000000;
}
.thumb:hover {
    opacity: 1.0;
    -webkit-filter: blur(0px);
    -ms-filter:     blur(0px);
    filter:         blur(0px);
}



@media (max-width: 480px) {
    .portfolio {
    background-size: auto 100vh;
    background-attachment: fixed;
}
}
@media (min-width: 768px) and (max-width: 979px) {
    .portfolio {
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

}
@media (min-width: 1200px) {
    .portfolio{
        background: url("../assets/flower_tree.jpg");
            background-size: 100vw 100vh;
    background-attachment: fixed;
    }
}
@media (min-width: 1800px) {
    .portfolio {
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
}

@media print{
    .portfolio{
        display:none;
        margin: 0px;
    }
    .viewer {
display:none;
margin: 0px;
}

#frame {
display:none;
margin: 0px;
}

.art {
display:none;
margin: 0px;
}

.thumb {
display:none;
margin: 0px;
}
.white{
display:none;
margin: 0px;
}
.thumb:hover {
display:none;
margin: 0px;
}
}