.portfolio{
    /*width: 50%;*/
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 25vh;
    /*margin-left: auto;
    margin-right: auto;  */
}

.viewer{
    padding: 10px;
}

#frame{
    width: fit-content;
    /*background-color: #F2F6BC;
    box-shadow: 2px 2px 5px black;
    border: 1px solid black;*/
}

.art{
    max-height: 60vh;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.thumb{
    display: inline-block;
    height: 60px;
    /*margin-left: 2px;
    margin-right: 2px;*/
    margin-top: 0px;

    transition: opacity 0.5s linear;
    opacity: 0.5;
    border: 1px solid black;
}

.thumb:hover{
    opacity: 1.0;
    border: 1px solid black;
}