.welcome{
    position: relative;
    top: 0px;
    padding-top: 30vh;
    padding-bottom: 40vh;
    text-align: center;
}

.welcome img{
    margin-left: auto;
    margin-right: auto;
}
.welcome h1{
    margin: 0px;
    margin-bottom: 0px;
    position: static;
}
.welcome h2{
    margin: auto;
    padding: auto;
}
.welcome h2#thingsAnimate strong{
    animation-name: beat;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}